.text {
    width: 300px;
    padding: 15px;
    color: white;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    border: 1px solid white;
    background: rgba(66, 66, 66, 0.356);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.title {
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    background: rgba(128, 128, 128, 0.315);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

button {
    text-align: center;
    font-size: 2em;
    color: rgba(0, 0, 0, 0.356);
    background: rgba(255, 255, 255, 0.233);
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

button:hover {
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    background: rgba(255, 255, 255, 0.726);
}

.title-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    gap: 30px   ;
}