.text {
    width: 350px;
    padding: 25px;
    color: white;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    border: 1px solid white;
    background: rgba(66, 66, 66, 0.356);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.title {
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    background: rgba(128, 128, 128, 0.315);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

button {
    text-align: center;
    font-size: 2em;
    color: rgba(0, 0, 0, 0.356);
    background: rgba(255, 255, 255, 0.233);
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

button:hover {
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    background: rgba(255, 255, 255, 0.726);
}

.title-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    gap: 20px;
}

.group {
    cursor: default;
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px #add8e6, 0 0 50px #add8e6, 0 0 60px #add8e6, 0 0 70px #add8e6;
        color: white;
    }
    50% {
        text-shadow: 0 0 20px #add8e6, 0 0 30px #add8e6, 0 0 40px #add8e6, 0 0 50px #add8e6, 0 0 60px #add8e6, 0 0 70px #add8e6, 0 0 80px #add8e6;
        color: #add8e6;
    }
    100% {
        text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px #add8e6, 0 0 50px #add8e6, 0 0 60px #add8e6, 0 0 70px #add8e6;
        color: white;
    }
}

.group:hover {
    scale: 1.2;
    animation: glow 1.5s infinite alternate;
}

